

.category-item{
    width: 100%;
    height: 100%;
    margin-top: 15px;
    position: relative;
    display: flex;
    justify-content: center;
     border-radius: 10px;
  overflow: hidden;
}
.image-container{
  position: relative;
  display: inline-block;
  width: 100%;
  overflow: hidden; /* Para bordes redondeados */
  border-radius: 10px; 
  height: 100%;
  
}
.category-image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  
  transition: transform 0.3s ease;
}
.item-overlay {
 position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.15); 
  pointer-events: none; 
  transition: all 0.3s ease; 
}

/* Efecto hover con zoom (sin deformar) */
.category-item:hover .category-image {
  transform: scale(1.1); /* Se agranda pero mantiene el crop */
}

.category-title {
    color: white; 
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9); 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; 
}



