.categories-list-background{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 3em;
    
}
.category-background{
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 90%;
    height: 8em;
    margin-top: 10px;
    max-width: 385px;
}
.categories-list-title{
    font-family: 'Anton', Courier, monospace;
    font-weight: 300;
    width: 95%;
    font-size: 22px;
    margin-top: 20px;
}

.buttons{
    width: 100%;
}
.products-list-background{
    padding-top: 3em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.list-background{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.products-list-title{
    font-family: 'Anton', Courier, monospace;
    font-weight: 300;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    font-size: 22px;
}
.featured_background{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding-top: 22px;
    padding-bottom: 4em;
}
.featured_title{
    padding-left: 10px;
    width: 100%;
    font-family:'Anton', Courier, monospace;
    font-weight: 300;
    font-size: 22px;
}
@media (min-width: 600px) {
    .featured_title{
        padding-top: 1.5em;
        padding-left: 1em;
        font-size: 25px;
    }
    .categories-list-title{
        font-size: 25px;
    }
    .category-background{
        max-width: 408px;
        
        width: 45%;
        
        height: 12em;
    }
}
@media (min-width: 1024px) {
    .category-background{
        width: 30%;
   
    }
}