.categories-list-background{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.category-background{
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 15em;
}
.categories-list-title{
    font-family: 'Anton', Courier, monospace;
    font-weight: 300;
    width: 95%;
    
}

.buttons{
    width: 100%;
}
.products-list-background{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.list-background{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.products-list-title{
    font-family: 'Anton', Courier, monospace;
    font-weight: 300;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    font-size: 30px;
}
.featured_background{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding-top: 20px;
}
.featured_title{
    padding-left: 10px;
    width: 100%;
    font-family:'Anton', Courier, monospace;
    font-weight: 300;
    font-size: 30px;
}
@media (min-width: 600px) {
    .featured_title{
        padding-top: 1.5em;
        padding-left: 1em;
    }
    .category-background{
        width: 45%;
        margin-top: 20px;
    }
}
@media (min-width: 1024px) {
    .category-background{
        width: 30%;
   
    }
}