.loading-spinner-background {
    width: 100%;
    height: 85vh; 
    display: flex; 
}

.spinner-icon {
    margin: auto; /* Esto funciona porque el padre es flex */
    width: 150px;
    height: 150px;
    animation: spin 5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(-55deg); }
    100% { transform: rotate(360deg); }
}