.search-suggestion-background{
    display: none;
    position: fixed;
    width: inherit;
    top: 45px;
    width: 175px;
    right: 4.9em;
    height: auto;
    background-color: white;
    z-index: 3;
    border: none;
    border-radius: 5px;
    font-family: 'Roboto', Courier, monospace;
    
}
.search-suggestion-background.active{
    display: block;
}
.search-suggestion-list{
    width: 100%;
    height: 100%;
}

.suggestion-result{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: #ebebee;
    color: black;
}

.suggestion-image{
    width: 40%;
    height: 100%;
    object-fit: contain;
}

.suggestion-result-data{
    width: 50%;
    padding-left: 10px;
   
}

.suggestion-result-title{
    padding-top: 5px;
    font-weight: 300;
    padding-bottom: 5px;
    width: 100%;
    white-space: normal; 
    overflow-wrap: anywhere;
    
}

@media (min-width: 1024px){
    .search-suggestion-background{
        width: 280px;
        max-width: 277px;
    }
}